.content{
    display: flex;
    flex-direction: row;
    background-color: white;
    width: 100%;
    position: fixed;
    box-shadow: rgba(5, 5, 5, 30%) 15px 15px;
}
img{
    height: 100px;
    width: 100px;
    padding-left: 40px;
}
ul{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    padding: 30px;
}
li{
    display: flex;
    flex-direction: row;
    padding-left: 200px;
}
a{
    text-decoration: none;
    color: rgba(43, 41, 41, 0.9);
    font-weight: 500;
}
a:hover{
    transition: 0.5s;
    text-decoration: underline;
    color: rgba(43, 41, 41, 0.9);
    font-weight: 500;
    font-size: 18px;
}